extends layout
block content
    div(class="container-fluid")
        h1= title
    - let results=[{snake_color:"brown",snake_breed:"Flemish snake",snake_price:200000},{snake_color:"white",snake_breed:"Angora snake",snake_price:5600},{snake_color:"black",snake_breed:"black snake",snake_price:50000}]
        div(class="row")
            each form,item in results
                div(class = "col-sm-2 bg-primary" onclick=`buy(${item})`) #{form.snake_color}             
                div(class = "col-sm-2 bg-primary" onclick=`buy(${item})`) #{form.snake_breed}                
                div(class = "col-sm-2 bg-primary" onclick=`buy(${item})`) #{form.snake_price}
                hr
    
    